h1 {
    text-align: center;
    background-color: lightblue;
    height: 50px;
}

#container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

#buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container2 {
    display: flex;
    justify-content: center;
}